<!-- Link to the CSS file for the navbar -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">

<!-- Navbar container -->
<div class="navbar">
    <!-- Left section of the navbar -->
    <div class="navbar-left">
        <!-- Logo image -->
        <img src="{{ url_for('static', filename='logo_movemate.jpg') }}" alt="Logo" class="logo">
        <!-- Navigation links -->
        <a href="{{ url_for('back2Home') }}">Home</a>
        <a href="{{ url_for('review') }}">Review</a>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
    </div>

    <!-- Right section of the navbar -->
    <div class="navbar-right">
        <!-- Button to create a post -->
        <button id="create-post-button" class="create-post-button">
            <i class="fas fa-plus logo-plus"></i> Create Post
        </button>
        <!-- User profile section -->
        <div class="user-profile">
            <!-- Profile picture -->
            <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Profile Picture" class="profile-picture">
            <!-- Dynamic username -->
            <span class="username">John</span>
            <!-- Logout link -->
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </div>
</div>
