<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="navbar">
        <div class="navbar-left">
            <img src="{{ url_for('static', filename='logo_movemate.jpg') }}" alt="Logo" class="logo">
            <a href="{{ url_for('back2Home') }}">Home</a>
            <a href="{{ url_for('review') }}">Review</a>
            <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
        </div>
        <div class="navbar-right">
            <div class="user-profile">
                <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Profile Picture"
                    class="profile-picture">
                <a href="{{ url_for('profile') }}" class="username">{{ session.get('username', 'John') }}</a>
                <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
            </div>
        </div>
    </div>
    <div class="container">
        <table>
            <tbody>
                <tr>
                    <td>Name :</td>
                    <td data-label="Name">
                        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                    </td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td data-label="Email">
                        <p>{{ user.email }}</p>
                    </td>
                </tr>
                <tr>
                    <td>Username :</td>
                    <td data-label="Username">
                        <p>{{ user.username }}</p>
                    </td>
                </tr>
                <tr>
                    <td>Phone :</td>
                    <td data-label="Phone">
                        <p>{{ user.phone }}</p>
                    </td>
                </tr>
                <tr>
                    <td>Birthday :</td>
                    <td data-label="Birthday">
                        <p>{{ user.birthday }}</p>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</body>

</html>