/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

/* leaderboardstyle.css */
.leaderboard-header, .leaderboard-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.leaderboard-header span, .leaderboard-row span {
    flex: 1;
    text-align: center;
}

.badge img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}


 
.leaderboard-table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leaderboard-row:nth-child(odd) {
    background-color: #f9f9f9; /* Light color for odd rows */
}

.leaderboard-row:nth-child(even) {
    background-color: #e9e9e9; /* Light color for even rows */
}

.rank, .user, .rating {
    flex: 1;
    text-align: center;
}

/* Star styles */
.fa-star, .fa-star-half-alt {
    color: #FFD700; /* Star color */
    margin-right: 0.2em; /* Adjust space between stars */
}

.fa-star, .fa-star-half-alt, .far.fa-star {
    font-size: 1.2em; /* Adjust star size */
}




