/* Navigation bar styles */

/* Styles for the navigation bar container */
.navbar {
    background-color: #353535; /* Background color for the navbar */
    color: white; /* Text color */
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    padding: 10px 20px; /* Padding for the navbar */
}

/* Styles for the left side of the navbar */
.navbar-left {
    display: flex;
    align-items: center;
}

/* Styles for the logo */
.logo {
    height: 40px; /* Height of the logo */
    margin-right: 20px; /* Margin between logo and other elements */
}

/* Styles for navbar links */
.navbar a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Padding for each link */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Styles for hovered navbar links */
.navbar a:hover {
    background-color: #6495ED; /* Lighter blue */
}

/* Styles for the right side of the navbar */
.navbar-right {
    display: flex;
    align-items: center;
}

/* Styles for the user profile section */
.user-profile {
    display: flex;
    align-items: center;
}

/* Styles for the profile picture */
.profile-picture {
    width: 40px; /* Width of the profile picture */
    height: 40px; /* Height of the profile picture */
    border-radius: 50%; /* Make it round */
    margin-right: 10px; /* Margin between picture and username */
}

/* Styles for the username */
.username {
    margin-right: 10px; /* Margin between username and logout button */
}

/* Styles for the logout button */
.logout-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff; /* Background color for the button */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
}

/* Styles for hovered logout button */
.logout-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
